@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@media only screen and (max-width: 1440px) {
body{
    background-color: hsl(220, 82%, 83%);
    font-family: Outfit;
    font-size: 15px !important;

}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.image-container{
    margin-bottom: 20px !important;
    margin: 0 auto;
}
img{
    border-radius: 20px;
}
.qr-container{
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
}
.qr-container p{
    font-weight: 400;
    padding: 0px 10px 0 10px !important;
    color: hsl(0, 0%, 67.8%);
}
.qr-container h4{
    font-weight: 700;
}
}
@media only screen and (min-width: 375px){
    body{
        background-color: hsl(220, 82%, 83%);
        font-family: Outfit;
        font-size: 15px !important;
    
    }
    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .image-container{
        margin-bottom: 20px !important;
        margin: 0 auto;
    }
    .qr-container{
        margin-top: 100px;
        margin-bottom: 200px;
        background-color: white;
        width: 300px;
        height: 450px;
        border-radius: 20px;
        text-align: center;
        padding-top: 20px;
    }
    .qr-container p{
        font-weight: 400;
        padding: 0px 15px 0 15px !important;
        color: hsl(0, 0%, 67.8%);
    }
    .qr-container h4{
        font-weight: 700;
        padding: 0px 10px 0 10px !important;
    }

}
